<% if !@user.try(:admin?) %>
  <!-- The admin clicked in a profile page -->
  <% @users = User.where('id = ?', @user.id) %>
<% else %>
  <!-- The admin clicked in the dashboard page -->
  <% @users = User.all %>
<% end %>

<div class="col-sm-4 col-sm-offset-4 meetingcolor text-center">
	<%= bootstrap_form_for([@user, @quarter]) do |f| %>
      <div class="field">   
        <% if @users.empty? %>
          <%= f.label "No mates available" %>
        <% elsif (@users.length ==1) %>
          <%= f.collection_select :user_id, @users, :id, :name %>
        <% else %>
          <%= f.collection_select :user_id, @users, :id, :name, {prompt: "Select one"} %>  
        <% end %>
      </div>
	    <%= f.form_group do %>
        <%= f.number_field :hours, label:"Booked hours", :placeholder => "Ej: 368" %>
      <% end %>
      <%= f.form_group do %>
        <%= f.select :quart, (1..4), label:"Which quarter?" %>
      <% end %>
      <%= f.form_group do %>
        <%= f.select :year, (Time.now.year-1..Time.now.year+1), label: "Select year", include_blank: "Choose the year" %>
      <% end %>
	    <%= f.form_group do %>
	      <%= f.submit "Add Quarter", class: "btn btn-primary btn-lg" %>
	    <% end %>
	<% end %>
</div>