<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-12 bg-info text-center">
  	<h3>New Meeting</h3>
	<%= form_for([@user, @meeting]) do |f| %>
	  <%= f.text_field :subject %>
	  <%= f.text_field :day %>
	  <%= f.time_field :start %>
	  <%= f.time_field :finish %>
	  <%= f.text_field :room %>
	  <%= f.submit "Add Meeting", class: "btn btn-primary btn-lg" %>
	<% end %>
  </div>
</div>