<p id="notice" class="text-center col-sm-4 col-sm-offset-4 col-md-4 col-md-4-offset"><%= notice %></p>

<%= render 'form' %>

<div id="ordermeetings">
  <% @meetings_by_date.sort.each do |day, meetings| %>
    <h3 class="red text-center col-sm-4 col-sm-offset-4 col-md-4 col-md-4-offset"><%= day.strftime("%d/%m/%Y") %></h3>
    <% for meeting in meetings %>
      <% owner = User.find(meeting.user_id) %>
      <div class="meeting text-center col-sm-8 col-sm-offset-2 col-md-8 col-md-2-offset">
        <p>About: <%= link_to meeting.subject, [@user, meeting] %> - Start <%= meeting.start.strftime("at %I:%M%p") %> - Finish <%= meeting.finish.strftime("at %I:%M%p") %> - Room: <%= meeting.room %> - Owner: <%= owner.email %></p>
      </div>
    <% end %>
  <% end %>
</div>