<div class="container-fluid">
  <div class="row text-center">
  	<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <% if @photo %>
        <% logger.debug "Photo Loaded -> #{@photo.id}" %>
        <%= image_tag(@photo.image.url(:thumb), :class => "img-rounded img-responsive center-block hidden-xs hidden-sm") %>
        <%= image_tag(@photo.image.url(:mini), :class => "img-rounded img-responsive center-block visible-xs visible-sm") %> 
      <% else %>
        <h4><%= "No image" %></h4>
      <% end %> 
      <h3 class="hidden-xs"><%= @user.name[0..22] %></h3>
      <h5 class="visible-xs"><%= @user.name[0..22] %></h5>
      <h3 class="hidden-xs envelope"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= mail_to @user.email, " Send an email!" %></h3>
      <h5 class="visible-xs envelope"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= mail_to @user.email, " Send an email!" %></h5>
      <!-- New quarter option for admin -->
      <% if current_user.try(:admin?) %>
      <h3 class="hidden-xs"><%= link_to 'New quarter', new_user_quarter_path(@user) %></h3>
      <h5 class="visible-xs"><%= link_to 'New quarter', new_user_quarter_path(@user) %></h5>
    <% end %>
    <!-- End options for admin -->
    </div>
  </div>
  <!-- Quarters INFO -->
  <div class="row">
  	<!-- Table HEADER For Quarters -->
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center user_header">
      <div class="row">
      <div class="col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
        <h2 class="hidden-xs"><%= "Q1" %></h2>
        <h6 class="visible-xs"><%= "Q1" %></h6>
      </div>
      <div class="col-sm-2 col-xs-2">
        <h2 class="hidden-xs"><%= "Q2" %></h2>
        <h6 class="visible-xs"><%= "Q2" %></h6>
      </div>
      <div class="col-sm-2 col-xs-2">
        <h2 class="hidden-xs"><%= "Q3" %></h2>
        <h6 class="visible-xs"><%= "Q3" %></h6>
      </div>
      <div class="col-sm-2 col-xs-2">
        <h2 class="hidden-xs"><%= "Q4" %></h2>
        <h6 class="visible-xs"><%= "Q4" %></h6>
      </div>   
      <div class="col-sm-2 col-xs-2">
        <h2 class="hidden-xs"><%= "Total" %></h2>
        <h6 class="visible-xs"><%= "Total" %></h6>
      </div>  
      </div>
    </div>

  
  <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
    <% @quarters_by_year = @quarters.group_by(&:year) %>
    <% @quarters_by_year.sort.each do |year, quarts| %>
      <div class="row">
      <% @year = quarts.first.year %>
      <% @quart_ready = quarts.size %>
      <% @total = 0 %>
      <% @index = 1 %>

      <% year_row_class = "class=" + @year.to_s %>
      <% logger.debug "Class -> #{year_row_class}" %>
        <!-- Add QUARTERS FOR A YEAR -->
        <div <%= year_row_class %> >
    	  <div class="col-sm-2 col-xs-2 user_header">
    	  	<h1 class="hidden-xs"><%= @year %></h1>
          <h6 class="visible-xs"><%= @year %></h6>
    	  </div>
          <% last_index = 0 %>
          <% for quart in quarts %>
            <% if quart.quart != last_index+1 %>
              <% for j in (last_index+1)..(quart.quart-1) %>
                <div class="col-sm-2 col-xs-2">
                  <h1 class="hidden-xs quarter_container_show">---</h1>
                  <h6 class="visible-xs quarter_container_show">---</h6>
                </div>
              <% end %>
            <% end %>
              <!-- Add Existing Quarters -->
              <% @total = @total + quart.hours %>
              <% diff = quart.hours - 360 %>
              <% if diff >=0 %>
                <% style = "text-success" %>
                <% diff = "+" + diff.to_s %>
              <% else %>
                <% style = "text-danger" %>
              <% end %>
              <div class="col-sm-2 col-xs-2">
                <h1 class="hidden-xs quarter_container_show"><strong><%= link_or_not(current_user, quart) %></strong>  <small class=<%= style %> ><%= diff.to_s %></small></h1>
                <h6 class="visible-xs quarter_container_show"><strong><%= link_or_not(current_user, quart) %></strong>  <small class=<%= style %> ><%= diff.to_s %></small></h6>
              </div>
              <!-- END Add Existing Quarters -->
            <% last_index = quart.quart %>
            <% @index = quart.quart %>
          <% end %>
          <!-- Fill the cells with no quarter -->
          <% if last_index !=4 %>
            <% for j in (last_index+1)..4 %>
              <div class="col-sm-2 col-xs-2">
                <h1 class="hidden-xs quarter_container_show">---</h1>
                <h6 class="visible-xs quarter_container_show">---</h6>
              </div>
            <% end %>
          <% end %>
          <!-- End Fill -->
          <!-- Add Total Amount for 4 quarters of the year -->
          <% diff = @total - 1440 %>
          <% if diff >=0 %>
            <% style = "text-success" %>
            <% diff = "+" + diff.to_s %>
          <% else %>
            <% style = "text-danger" %>
          <% end %>
          <div class="total_year col-sm-2 col-xs-2">
            <h1 class="hidden-xs quarter_container_show"><strong><%= @total.to_s %></strong> <small class=<%= style %> ><%= diff.to_s %></small></h1>
            <h6 class="visible-xs quarter_container_show"><strong><%= @total.to_s %></strong> <small class=<%= style %> ><%= diff.to_s %></small></h6>
          </div>
          <!-- END Total Amount of year -->
        </div>
        </div>
        <!-- END Add QUARTERS FOR A YEAR -->
    <% end %>
   </div>
   <!-- END Quarters of the user -->
    
  </div>
  <!-- End of Quarters Info ROW -->

</div>
<!-- END ContainerFluid -->