<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <h4><%= link_to 'Booked Meetings', user_meetings_path(current_user) %></h4>
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      <h4><%= link_to 'New quarter', new_user_quarter_path(current_user) %>
    </div>
  </div>
<% end %>



<div class="container-fluid ">

<!-- ROW Starts -->

<div class="row text-center">
  <div class="bg-primary col-sm-2 col-sm-offset-2">
    <h2><%= "Q1" %></h2>
  </div>
  <div class="bg-primary col-sm-2">
    <h2><%= "Q2" %></h2>
  </div>
  <div class="bg-primary col-sm-2">
    <h2><%= "Q3" %></h2>
  </div>
  <div class="bg-primary col-sm-2">
    <h2><%= "Q4" %></h2>
  </div>   
  <div class="bg-primary col-sm-2">
    <h2><%= "Total" %></h2>
  </div>     
</div>


    <% @quarters.sort.each do |user, quarters| %>
      <% @owner = User.find(user) %>
      <% @photo = Photo.where('user_id = ?', @owner.id).last %>
      <% logger.debug "User Loaded -> #{@owner.name}" %>

      
  <% @quarters_by_year = quarters.group_by(&:year) %>
  <% @quarters_by_year.sort.each do |year, quarts| %>
  <% @year = quarts.first.year %>

        <% @quart_ready = quarts.size %>
          <% @total = 0 %>
          <% @index = 0 %>

<div class="row text-center user_quarters">
          <div class="col-sm-2 user_image">
            <% if @photo %>
               <% logger.debug "Photo Loaded -> #{@photo.id}" %>
               <%= image_tag(@photo.image.url(:mini), :class => "img-rounded img-responsive center-block") %>
            <% else %>
              <h4><%= "No image" %></h4>
            <% end %> 
            <h4 class="bg-info"><%= @owner.name[0..22] %></h4>
          </div>
          <!-- Add Created Quarters -->
          <% for quart in quarts %>
            <% @index += 1 %>
            <% @total = @total + quart.hours %>
            <% diff = quart.hours - 360 %>
            <% if diff >=0 %>
            <% style = "text-success" %>
            <% diff = "+" + diff.to_s %>
            <% else %>
            <% style = "text-danger" %>
            <% end %>
            <div class="col-sm-2">
              <h1 class="quarter_container"><strong><%= link_to quart.hours, edit_user_quarter_path(@owner, quart) %></strong>  <small class=<%= style %> ><%= diff.to_s %></small></h1>
            </div>
          <% end %>
          <!-- Add Empty Quarters -->
          <% for j in (@index+1)..4 %>
            <div class="col-sm-2">
              <h1 class="quarter_container"><%= "---" %></h1>
            </div>
          <% end %>
          <% diff = @total - 1440 %>
            <% if diff >=0 %>
            <% style = "text-success" %>
            <% diff = "+" + diff.to_s %>
            <% else %>
            <% style = "text-danger" %>
            <% end %>
          <div class="total_year col-sm-2">
            <h1 class="quarter_container"><strong><%= @total.to_s %></strong> <small class=<%= style %> ><%= diff.to_s %></small></h1>
          </div>
</div>
      <% end %>
    <% end %>
<!-- End of ROW -->
</div>
<!-- End of Container Fluid for Quarters -->


<!-- ROW Starts -->
<div class="row hidden">
  <div id="orderquarters" class="col-xs-9 col-sm-6 col-sm-offset-1 bg-info text-center">
  	<h3>Booked Quarters</h3>
    <% @quarters.sort.each do |user, quarters| %>
      <% @owner = User.find(user) %>
      <h3 class="red text-center col-sm-6 col-sm-offset-3 col-xs-6 col-xs-3-offset">
      	<%= @owner.name[0..22] %>
      </h3>
      
      <% for quarter in quarters %>
        <div class="quarter text-center col-sm-10 col-sm-offset-1 col-xs-10 col-xs-1-offset">
          <p class="bg-warning"><%= quarter.quart %> - Hours <%= quarter.hours %> - Year: <%= quarter.year %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- End of ROW -->