<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Las Mejores Fotos de Nuestra Boda <span><%= link_to "VerTodas", controller: "photos", action: "allimages" %></span></h1>
    
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 bg-info text-center">
  <%= bootstrap_form_for(@photo) do |form| %>
    <%= form.form_group do %>
      <%= form.file_field :image, label:"Queremos ver tus fotos!" %>
    <% end %>
    <%= form.form_group do %>
	    <%= form.submit 'Añadir', class: "btn btn-success" %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>Ya tenemos <%= @total %> fotos!</h2>
  </div>
</div>

<div class="row">
  <ul class="list-group list-unstyled">
    <%= render @photos %>
  </ul>
</div>
