<div class="row">
  <div class="col-sm-12 col-xs-10 text-center">
    <h2><%= link_to "Ver Todas", controller: "photos", action: "index" %><span class="text-info"><%= "(" + @total.to_s + ")" %></span></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-12 bg-info text-center">
  <%= bootstrap_form_for(@photo) do |form| %>
    <%= form.form_group do %>
      <%= form.file_field :image, label:"Queremos ver tus fotos!" %>
    <% end %>
    <%= form.form_group do %>
      <%= form.submit 'Añadir', class: "btn btn-primary btn-lg" %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>¡Estas son las últimas!</h2>
  </div>
</div>

<div class="row hidden-xs">
  <table class="table">
    <% i=0; rowplace=1; %>
    <% while (i<@inicio) do %>
    <% foto = @photos.at(i) %>
    <% if (rowplace==1) %>
      <tr class="col-sm-12">
    <% end %>
    <%= render foto %>
    <% if (rowplace == 3 || i == @inicio) %>
      </tr>
      <% rowplace = 0 %>
    <% end %>
    <% i = i+1 %>
    <% rowplace = rowplace + 1 %>
    <% end %>
  </table>
</div>

<div class="row visible-xs">
    <table class="table">
      <% @photos.each do |photo| %>
      <tr class="col-xs-12">
        <%= render photo %>
      </tr>
      <% end %>
    </table>
</div>
