<div class="row">
  <div class="col-sm-12 hidden-xs text-center">
    <h2>Las Mejores Fotos de Nuestra Boda</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-10 text-center">
    <h2><%= link_to "VerTodas", controller: "photos", action: "index" %><span class="bg-primary"><%= "(" + @total.to_s + ")" %></span></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-12 bg-info text-center">
  <%= bootstrap_form_for(@photo) do |form| %>
    <%= form.form_group do %>
      <%= form.file_field :image, label:"Queremos ver tus fotos!" %>
    <% end %>
    <%= form.form_group do %>
      <%= form.submit 'Añadir', class: "btn btn-success" %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>¡Estas son las 3 últimas!</h2>
  </div>
</div>

<div class="row">
  <ul class="list-group list-unstyled">
    <%= render @photos %>
  </ul>
</div>