<div class="row hidden-xs">
  <div class="col-md-12 text-center">
    <h3>Foto Nº <%= @photo.id %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-3 col-xs-4 col-xs-offset-1 text-center">
    <h3><%= link_to "Ver todas", controller: "photos", action: "index" %></h3>
  </div>
  <div class="col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-2 text-center">
    <h3><%= link_to "Subir otra!", controller: "photos", action: "new" %></h3>
  </div>
</div>

<div class="row hidden-xs">
  <div class="col-md-12 center-block">
    <%= image_tag(@photo.image.url(:big), :class => "center-block") %>
  </div>
</div>

<div class="row visible-xs">
  <div class="col-xs-12 center-block">
    <%= image_tag(@photo.image.url(:thumb), :class => "center-block") %>
  </div>
</div>
