<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Myimages</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="container">
    <%= link_to image_tag("apsolut.png"), root_url, :class => 'navbar-brand' %>
    <ul class='nav nav-pills navbar-right'>
      <% if user_signed_in? %>
        <p>Bienvenido <%= current_user.email %></p>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'New? Sign Up!', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
